/*
//=============================================================================
//  Author    : Peter Maloy, August 2013
//  Repository: https://github.com/geekbrit/ResCal
//=============================================================================
*/

$mins15 : 18px;
$mins20 : 24px;
$mins30 : 36px;
$mins60 : 72px;

$gutter_width : 48px;
$week_width : 595px + $gutter_width + 2px;
$col_5days_width : 595/5 - 1px;
$col_7days_width : 595/7 - 1px;

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}

.rc_day_target {
    overflow:auto;
    .pre_day{
    	position:absolute;
    	top:0;
    	width:100%;
    	background:rgba(0,0,0,0.1);
    }
    .post_day{
    	position:absolute;
    	bottom:0;
    	width:100%;
    	background:rgba(0,0,0,0.1);
    }
}


.rc_event {
	width: 99%;
	max-width:$col_5days_width;
	height: $mins60 - 6px;
	border:1px solid #888;
	font-family:metrophobic,arial;

	.rc_event_head{
		width:100%;
	 	font-size: 80%;
	 	text-align:center;
	 	background:rgba(0,0,0,0.1);
	}

	.rc_event_body{
	 	font-size: 80%;
	 	text-align:center;
	}

	.rc_event_prepad{
		background:rgba(0,0,0,0.3);
		width:100%;
	}
	.rc_event_postpad{
		background:rgba(0,0,0,0.3);
		width:100%;
		position:absolute;
		left:0;
		bottom:0;
	}
}

.rc_week {
	font-family:metrophobic,arial;
	width:$week_width;
	margin:8px auto;

	.rc_event {
		position: absolute;
	}
}

.rc_headerweek {
	width:$week_width;
	background:#dfc;
	.rc_name{float:left;padding-left:8px;}
	.rc_location{float:right;padding-right:8px;}
} 

.col_5dayweek {
	float:left;
	width:$col_5days_width;
	border:1px solid #ccc;
	border-left:none;
	overflow:hidden;
	position:relative;
}

.col_7dayweek {
	float:left;
	width:$col_7days_width;
	border:1px solid #ccc;
	border-left:none;
	overflow:hidden;
	position:relative;
}

.rc_gutter {
	float:left;
	width:$gutter_width;
	border:1px solid #ccc;
}

.rc_hour_slot {
	height: $mins15 * 4 - 1;
	border-bottom: 1px solid #ccc;
}

.rc_quarters_slot {
	height: $mins15 - 1;
	width:100%;
	border-bottom: 1px dotted #ccc;
}

.rc_quarters_slot:nth-child(even) {
	border-bottom: 1px solid #ccc;
}

.rc_thirds_slot {
	height: $mins20 - 1;
	width:100%;
	border-bottom: 1px dotted #ccc;
}

.rc_thirds_slot:nth-child(3n-3) {
	border-bottom: 1px solid #ccc;
}

.rc_halves_slot {
	height: $mins30 - 1;
	width:100%;
	border-bottom: 1px dotted #ccc;
}

.rc_quarters_slot:nth-child(even) {
	border-bottom: 1px solid #ccc;
}

