.header{ margin-left:180px; width:640px;}

.rc_bodyweek{
	height: 400px;
	overflow-y:scroll;
	overflow-x:hidden;
}


.calendar {
	margin-left:180px;
}

.event_palette {
	border-right:1px solid #888;
    position: fixed;
	left: 10px;
	width:160px;
}

#new_events{
	top: 10px;
}


#unassigned_event_resource{
	top: 310px;
}


.unassigned {
	h2 { font-size:18px; margin:0; padding:0; }
	background: #FFD;
	width:160px;
	min-height:180px;
	border-right: 1px solid #880;
	text-align:center;
}

.ip_spacing{ margin:4px; }

.in_palette {
	-webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
	margin-left:auto;
	margin-right:auto;
}

.event {
	background: rgba(255,255,255,0.6);
	display: table;
 	p {
		display: table-cell;
		text-align:center;
		vertical-align:middle;
	}
}

.client { 
	border-color:#A66;
	color:#A66;
}

.vendor {
	border-color:#6A6;
	color:#6A6;
}

.internal {
	border-color:#66A;
	color:#66A; 
}

.deleteevent{
  float:right;
  font-size:50%;
  color: #A00;
  border:1px solid #A00;
  border-radius: 12px;
    -moz-border-radius: 12px;
  text-align:center;
  padding:1px 3px;
  margin:2px;
}

.lockedevent{
	clear:both;
	float:right;
	width:1em;
	height:auto;
}

.calimg{
	height:1em;
	width:auto;
	margin-left:14px;
}

.pf-form .pf-heading{
	width:auto;
	height: 160px;
}
.form_datepicker{
	font-size:80%;
	position:absolute;
	left:230px;

}